@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100vh;
  display: block;
  overflow: overlay;
}

:root {
  --white:      #ffffff;
  --gray-100:   #f7f7f7;
  --gray-200:   #c2c2c2;
  --gray-300:   #757575;
  --gray-400:   #424242;
  --gray-500:   #121212;
  --black:      #000000;

  --blue-100:   #d7e4f7;
  --blue-200:   #5a9ac2;
  --blue-300:   #2b5175;
  --blue-400:   #152842;
  --blue-500:   #061212;

  --green-100:  #d7f7d7;
  --green-200:  #5ac25a;
  --green-300:  #2b752b;
  --green-400:  #154215;
  --green-500:  #061206;

  --yellow-100: #fff0d7;
  --yellow-200: #ffcc99;
  --yellow-300: #ffb266;
  --yellow-400: #805f2a;
  --yellow-500: #4b3600;

  --orange-100: #fde0bf;
  --orange-200: #cc7a26;
  --orange-300: #8a4a13;
  --orange-400: #5a2c0a;
  --orange-500: #3b1d06;

  --red-100:    #f7d7d7;
  --red-200:    #c25a5a;
  --red-300:    #752b2b;
  --red-400:    #421515;
  --red-500:    #120606;

  --pink-100:   #f7d7e7;
  --pink-200:   #c25a87;
  --pink-300:   #752b47;
  --pink-400:   #421527;
  --pink-500:   #12060b;

  --purple-100: #e1d7f7;
  --purple-200: #8e5ac2;
  --purple-300: #4f2b75;
  --purple-400: #291542;
  --purple-500: #0d0612;
}
